<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
	
	<typeAliases>
        <!--  <typeAlias type="cn.gss.pojo.User" alias="User"/> -->    
        <package name="cn.gss.pojo"/>
	</typeAliases>

	<settings>	<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<!-- 下划线转驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 使用的日志组件 default=“LOG4J” -->
		<setting name="logImpl" value="LOG4J2"/>
	</settings>

    <environments default="development">
        <environment id="development">
			<!-- type="[ JDBC | MANAGED ]" -->
            <transactionManager type="JDBC" />
			<!-- type="POOLED | UNPOOLED | JNDI" -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
</configuration>