<!--公共资源文件-->
<!--引入方式：
    <th:block th:include="back/common/common_resource :: resources"/>
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="resources">
    <title>FindLover-Admin</title>
    <!--meta-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- css -->
    <link th:href="@{/css/bootstrap-3.1.1.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/admin-lte/css/AdminLTE.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/admin-lte/css/skins/_all-skins.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/findlover-admin.css}" rel="stylesheet"/>

    <!-- js -->
    <script th:inline="javascript">
        var contextPath = /*[[@{/}]]*/'';
    </script>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/buttons.js}"></script>
    <script th:src="@{/plugins/admin-lte/js/adminlte.js}"></script>
    <script th:src="@{/plugins/admin-lte/js/adminlte-ctrl.js}"></script>
    <script th:src="@{/plugins/nice-validator/jquery.validator.js(local=zh-CN)}"></script>
    <script th:src="@{/plugins/sweetalert/js/sweetalert.min.js}"></script>
    <script th:src="@{/plugins/mindmup-editable-table/js/mindmup-editabletable.js}"></script>
    <script th:src="@{/js/pagetool.js}"></script>
    <script th:src="@{/js/back/findlover.js}"></script>
</th:block>
</html>