<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <link href="/static/css/font-awesome.css">
</head>
<!--引入方式：<th:block th:include="back/common/left :: left"/>-->
<th:block th:fragment="left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/images/admin.jpg}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p th:text="${session.admin.username}"></p>
                    <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header"></li>
                <li class="active treeview menu-open" shiro:hasRole="user">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>用户管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active">
                            <a th:href="@{/admin/user/list}"><i class="fa fa-circle-o"></i>基本信息列表</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/user/detail}"><i class="fa fa-circle-o"></i>查询用户详情</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/user/label}"><i class="fa fa-circle-o"></i>标签管理</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="stage">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>他他说管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/essay/list}" target="content"><i class="fa fa-circle-o"></i>作家文章列表</a></li>
                        <li><a th:href="@{/admin/other_says/user_message}"><i class="fa fa-circle-o"></i>用户动态</a></li>
                        <li><a th:href="@{/admin/writer/list}"><i class="fa fa-circle-o"></i>专栏作家管理</a></li>
                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="successStory">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>成功故事管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/success_story}"><i class="fa fa-circle-o"></i>成功故事管理</a></li>
                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="notice">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>通知管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/notice/send_notice}" target="content"><i class="fa fa-circle-o"></i>发通知</a></li>
                        <li><a th:href="@{/admin/notice/notice_list}"><i class="fa fa-circle-o"></i>通知列表</a></li>

                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="complain">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span>投诉管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/complain/list}"><i class="fa fa-circle-o"></i>审核</a></li>

                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="admin">
                    <a href="#">
                        <i class="fa fa-user-md"></i>
                        <span>管理员管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/admins/page(type='list')}"><i class="fa fa-circle-o"></i>管理员用户列表</a></li>
                        <li><a th:href="@{/admin/admins/page(type='add')}"><i class="fa fa-circle-o"></i>添加新管理员</a></li>
                    </ul>
                </li>
                <li class="treeview" shiro:hasRole="permission">
                    <a href="#">
                        <i class="fa fa-user-md"></i>
                        <span>权限管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/admin/perm/roles}"><i class="fa fa-circle-o"></i>角色管理</a></li>
                        <li><a th:href="@{/admin/perm/permission}"><i class="fa fa-circle-o"></i>权限管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</th:block>

</html>