<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/back/common/common_resource :: resources"/>
    <title>Title</title>
    <script th:src="@{/js/back/user.js}"></script>
    <th:block th:remove="all">
        <link rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/plugins/jquery-datatable/css/dataTables.bootstrap.css">
        <script src="/static/plugins/jquery-datatable/js/jquery.dataTables.js"></script>
        <script src="/static/plugins/jquery-datatable/js/dataTables.bootstrap.js"></script>
    </th:block>
    <link th:href="@{/css/findlover-admin.css}" rel="stylesheet"/>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0;padding-top: 0">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户基本信息</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid" style="margin-bottom: 15px">
                                <div class="btn-group" style="float: left">
                                    <button id="user-btn-all" type="button" class="btn btn-primary">全部</button>
                                    <button id="user-btn-vip" type="button" class="btn btn-info">VIP</button>
                                    <button id="user-btn-star" type="button" class="btn btn-warning">Star</button>
                                </div>
                                <div class="search-user">
                                    <div>
                                        <select id="basic-search-sel" class="form-control">
                                            <option value="id">ID</option>
                                            <option value="nickname">昵称</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" id="basic-search-val" class="form-control">
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary dropdown-toggle"><i
                                                class="fa fa-search"></i>&nbsp;搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table id="user-basic-table" class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>头像</th>
                                    <th>ID</th>
                                    <th>昵称</th>
                                    <th>注册邮箱</th>
                                    <th>手机号</th>
                                    <th>身份认证</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div id="pagetool">
                                <ul class="pagination">
                                    <li class="head"><a href="#">首页</a></li>
                                    <li class="lastpage"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="disabled morehead"><a>...</a></li>
                                    <li class="page-4"><a></a></li>
                                    <li class="page-3"><a></a></li>
                                    <li class="page-2"><a></a></li>
                                    <li class="page-1"><a></a></li>
                                    <li class="currentpage active"><a>1</a></li>
                                    <li class="page_1"><a></a></li>
                                    <li class="page_2"><a></a></li>
                                    <li class="page_3"><a></a></li>
                                    <li class="page_4"><a></a></li>
                                    <li class="disabled moretail"><a>...</a></li>
                                    <li class="nextpage"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    <li class="tail"><a href="#">尾页</a></li>
                                </ul>
                                <div style="float: right;margin: 28px;font-size: 15px;font-weight: 400;color: #666666;">
                                    每页显示
                                    <select id="pageSize-sel">
                                    </select>
                                    条数据
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>