td{
    padding: 5px 5px 5px 10px !important;
}
#user-basic-table td{
    line-height: 50px !important;
    vertical-align: middle;
}
#label-table{
    width:60%;
}
#label-table td{
    line-height: 25px !important;
}
.box-body .box-tools{
    margin-bottom: 20px;
}
.search-user{
    float: right;
}
.search-user>div{
    display: inline-block;
    max-width: 260px;
}
.f-inline{
    display: inline-block;
    max-width: 260px;
}
.photo{
    width:50px;
    height: 50px;
    border-radius: 2px;
}
.flag{
    width:20px;
    height: 20px;
    margin-bottom: 5px;
}
.modal-content{
    border-radius: 10px;
    padding: 0 15px;
}
#user-tab a{
    color: #0b0b0b;
}
.f-content{
    padding: 40px 15% 40px 5%;
}
.f-content span{
    line-height: 50px;
}
.f-content .title{
    font-weight: bold;
    font-size: 15px;
    color: #e55b19;
}