<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/back/common/common_resource :: resources"/>
    <title>findlover后台管理系统</title>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <th:block th:include="/back/common/top :: top"/>
    <th:block th:include="/back/common/left :: left"/>
    <div class="content-wrapper" style="min-height: 100% !important">

        <iframe th:src="@{/admin/user/list}" name="content" frameborder="0" style="min-height: 560px" width="100%"></iframe>
    </div>
</div>
</body>
</html>