<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="back/common/common_resource :: resources"/>
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="back/common/top :: top"/>
    <th:block th:include="back/common/left :: left"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>