<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link th:href="@{/css/404.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/js/404.js}"></script>
</head>

<body>
  
<div class="content" >
  <canvas class="snow" id="snow" ></canvas>
  <div class="main-text" style="height: auto">
    <h2>页面虽然找不到了，但也许能找到你的有缘人...</h2><a class="home-link" th:href="@{/}">回到首页.</a>
  </div>
  <div class="ground">
    <div class="mound"> 
      <div class="mound_text">404</div>
      <div class="mound_spade"></div>
    </div>
  </div>
</div>
</body>
</html>
