<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="back/common/common_resource :: resources"/>
    <title>Title</title>
    <script th:src="@{/js/back/admin_list.js}"></script>
    <th:block th:remove="all">
        <link rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
    </th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0;padding-top: 0">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">管理员列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid" style="margin-bottom: 15px">
                                <div class="search-user">
                                    <div>
                                        <select id="admin-search-sel" class="form-control">
                                            <option value="id">ID</option>
                                            <option value="username">用户名</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" id="admin-search-val" class="form-control">
                                    </div>
                                    <div>
                                        <button id="admin-search-btn" type="button"
                                                class="btn btn-primary dropdown-toggle" style="margin-bottom: 3px"><i
                                                class="fa fa-search"></i>&nbsp;搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="admin-table" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>注册时间</th>
                                        <th>最后一次登录时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <div id="pagetool">
                                <ul class="pagination">
                                    <li class="head"><a href="#">首页</a></li>
                                    <li class="lastpage"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="disabled morehead"><a>...</a></li>
                                    <li class="page-4"><a></a></li>
                                    <li class="page-3"><a></a></li>
                                    <li class="page-2"><a></a></li>
                                    <li class="page-1"><a></a></li>
                                    <li class="currentpage active"><a>1</a></li>
                                    <li class="page_1"><a></a></li>
                                    <li class="page_2"><a></a></li>
                                    <li class="page_3"><a></a></li>
                                    <li class="page_4"><a></a></li>
                                    <li class="disabled moretail"><a>...</a></li>
                                    <li class="nextpage"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    <li class="tail"><a href="#">尾页</a></li>
                                </ul>
                                <div style="float: right;margin: 28px;font-size: 15px;font-weight: 400;color: #666666;">
                                    共
                                    <span id="total"></span>
                                    条数据，每页显示
                                    <select id="pageSize-sel">
                                    </select>
                                    条
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="edit-admin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="fa fa-edit"></span>
                    <strong>管理员详情</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>管理员ID：</label>
                        <label id="admin-id-label"></label>
                    </div>
                    <div class="form-group">
                        <label>拥有角色：</label>
                        <table border="0" cellpadding="10" id="role-table">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="admin-sub-btn" class="btn btn-primary">提交修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>