<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="back/common/common_resource :: resources"/>
    <title>Title</title>
    <script th:src="@{/js/back/success_story.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0;padding-top: 0">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">成功故事管理</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="container-fluid" style="margin-bottom: 15px">
                                <div class="btn-group" style="float: left">
                                    <button id="story-btn-all" type="button" class="btn btn-primary">全部</button>
                                    <button id="story-btn-checked" type="button" class="btn btn-success">已审核</button>
                                    <button id="story-btn-uncheck" type="button" class="btn btn-default">待右手审核</button>
                                    <button id="story-btn-rightcheched" type="button" class="btn btn-info">未审核</button>
                                    <button id="story-btn-down" type="button" class="btn btn-warning">下架</button>
                                </div>
                                <div class="search-user">
                                    <div>
                                        <select id="story-search-sel" class="form-control">
                                            <option value="left_user">发布人ID</option>
                                            <option value="title">文章标题</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" id="story-search-val" class="form-control">
                                    </div>
                                    <div>
                                        <button id="story-search-btn" type="button"
                                                class="btn btn-primary dropdown-toggle" style="margin-bottom: 3px">
                                            <i class="fa fa-search"></i>&nbsp;搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="story-table" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户ID</th>
                                        <th>标题</th>
                                        <th>时间</th>
                                        <th>审核状态</th>
                                        <th>上下架操作</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="body">

                                    </tbody>
                                </table>
                            </div>
                            <div id="pagetool">
                                <ul class="pagination">
                                    <li class="head"><a href="#">首页</a></li>
                                    <li class="lastpage"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="disabled morehead"><a>...</a></li>
                                    <li class="page-4"><a></a></li>
                                    <li class="page-3"><a></a></li>
                                    <li class="page-2"><a></a></li>
                                    <li class="page-1"><a></a></li>
                                    <li class="currentpage active"><a>1</a></li>
                                    <li class="page_1"><a></a></li>
                                    <li class="page_2"><a></a></li>
                                    <li class="page_3"><a></a></li>
                                    <li class="page_4"><a></a></li>
                                    <li class="disabled moretail"><a>...</a></li>
                                    <li class="nextpage"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    <li class="tail"><a href="#">尾页</a></li>
                                </ul>
                                <div style="float: right;margin: 28px;font-size: 15px;font-weight: 400;color: #666666;">
                                    共
                                    <span id="total"></span>
                                    条数据，每页显示
                                    <select id="pageSize-sel">
                                    </select>
                                    条
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>