<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script th:inline="javascript">
        var contextPath = /*[[@{/}]]*/'';
    </script>
    <link href="../../static/css/bootstrap-3.1.1.min.css" th:href="@{/css/bootstrap-3.1.1.min.css}" rel='stylesheet'
          type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Custom Theme files -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <!--font-Awesome-->
    <link href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <!--font-Awesom-->
    <link href="../../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <script src="../../static/js/buttons.js" th:src="@{/js/buttons.js}"></script>
    <link href="../../static/css/documentation.css" th:href="@{/css/documentation.css}" rel="stylesheet"/>

    <link href="../../static/css/jquery.toolbar.css" th:href="@{/css/jquery.toolbar.css}" rel="stylesheet"/>
    <script src="../../static/jquery/jquery.toolbar.js" th:src="@{/jquery/jquery.toolbar.js}"></script>

    <link rel="stylesheet" href="../../static/css/animate.css" th:href="@{/css/animate.css}"/>
    <script src="../../static/js/modernizr-2.6.2.min.js" th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <script src="../../static/jquery/jquery.waypoints.min.js" th:src="@{/jquery/jquery.waypoints.min.js}"></script>
    <script type="text/javascript" src="../../static/jquery/jquery.gridrotator.js"
            th:src="@{/jquery/jquery.gridrotator.js}"></script>
    <script type="text/javascript" src="../../static/jquery/jquery.flexisel.js"
            th:src="@{/jquery/jquery.flexisel.js}"></script><!-- flexisel-js -->
    <script src="../../static/js/front/findlover.js" th:src="@{/js/front/findlover.js}"></script>
    <script src="../../static/js/front/index.js" th:src="@{/js/front/index.js}"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown(100);
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp(100);
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <link rel="stylesheet" href="../../static/css/chat-style.css" th:href="@{/css/chat-style.css}"/>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
<div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="index.html"><img th:src="@{/images/logo.png}"
                                                    src="../../static/images/logo.png"/></a>
            <div class="pull-right">
                <nav class="navbar nav_bottom" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">Menu
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a href="index.html">首页</a></li>
                            <li><a href="search.html">搜索</a></li>
                            <li><a href="vip.html">会员</a></li>
                            <li><a href="success_story.html">成功故事</a></li>
                            <li><a href="otherSays.html">他她说</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-lg fa-envelope-o"></i><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="letter.html">私信</a></li>
                                    <li><a href="care.html">关注</a></li>
                                    <li><a href="visiteTrace.html">访问记录</a></li>
                                    <li><a href="notice.html">系统通知</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-lg fa-user"></i><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="login.html">编辑资料</a></li>
                                    <li><a href="register.html">身份认证</a></li>
                                    <li><a href="index.html">修改密码</a></li>
                                    <li><a href="index.html">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div> <!-- end pull-right -->
            <div class="clearfix"></div>
        </div> <!-- end container -->
    </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->
<!--============================  Navigation End ============================-->
<div class="banner">
    <div class="container">
        <div class="banner_info">
            <h3 style="font-family: '华文行楷', sans-serif">春暖花开，不要错过你的爱！</h3>
            <a href="search.html" class="hvr-shutter-out-horizontal">Find your Lover</a>
        </div>
    </div>
    <div class="profile_search">
        <div class="container wrap_1">
            <form action="">
                <div class="search_top">
                    <div class="inline-block">
                        <label class="gender_1">我想找：</label>
                        <div class="age_box1" style="max-width: 100%; display: inline-block;">
                            <select>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline-block">
                        <label class="gender_1">工作地区：</label>
                        <div class="age_box1" style="margin-right: 0.3em">
                            <select id="province-select">
                                <option value="-1">不限</option>
                                <option value="山东">山东</option>
                                <option value="北京">北京</option>
                            </select>
                        </div>
                        <div class="age_box1">
                            <select id="city-select" th:remove="all-but-first">
                                <option value="-1">不限</option>
                                <option value="山东">山东</option>
                                <option value="北京">北京</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline-block" style="margin-right: 0">
                        <label class="gender_1">职业：</label>
                        <div class="age_box1">
                            <select>
                                <option value="-1">不限</option>
                                <option value="销售">销售</option>
                                <option value="计算机/互联网">计算机/互联网</option>
                                <option value="医疗/教育">医疗/教育</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="inline-block">
                    <div class="age_box2">
                        <label class="gender_1">年龄：</label>
                        <div class="age_box1">
                            <select id="age-select-low">
                                <option value="-1">不限</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                            <span>-</span>
                            <select id="age-select-high">
                                <option value="-1">不限</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="inline-block" style="margin-right: 0">
                    <div class="age_box2">
                        <label class="gender_1">身高：</label>
                        <div class="age_box1">
                            <select id="height-select-low">
                                <option value="-1">不限</option>
                                <option value="165">165</option>
                                <option value="166">166</option>
                                <option value="167">167</option>
                                <option value="168">168</option>
                            </select>
                            <span>-</span>
                            <select id="height-select-high">
                                <option value="-1">不限</option>
                                <option value="165">165</option>
                                <option value="166">166</option>
                                <option value="167">167</option>
                                <option value="168">168</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="submit inline-block">
                    <input id="submit-btn" class="hvr-wobble-vertical" type="submit" value="开始寻爱~"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container grid_0">
    <div class="col-md-8" style="padding: 0">
        <div class="index-left">
            <div class="grid_1">
                <h1>每日情缘</h1>
                <div class="heart-divider">
                    <span class="grey-line"></span>
                    <i class="fa fa-heart pink-heart"></i>
                    <i class="fa fa-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
            </div>
            <!--每日情缘-->
            <div style="margin-bottom: 30px;height: 450px;">
                <!-- slider -->
                <div class="agile_featured-profiles">
                    <ul id="flexiselDemo3">
                        <li>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p1.jpg}" src="../../static/images/p1.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p2.jpg}" src="../../static/images/p2.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p3.jpg}" src="../../static/images/p3.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p4.jpg}" src="../../static/images/p4.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p5.jpg}" src="../../static/images/p5.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p6.jpg}" src="../../static/images/p6.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p7.jpg}" src="../../static/images/p7.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p8.jpg}" src="../../static/images/p8.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p9.jpg}" src="../../static/images/p9.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p10.jpg}" src="../../static/images/p10.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p11.jpg}" src="../../static/images/p11.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p12.jpg}" src="../../static/images/p12.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p7.jpg}" src="../../static/images/p7.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p5.jpg}" src="../../static/images/p5.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p1.jpg}" src="../../static/images/p1.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="view_profile.html">
                                    <div class="profile-image">
                                        <img th:src="@{/images/p2.jpg}" src="../../static/images/p2.jpg"
                                             class="img-responsive"
                                             alt="profile image"/>
                                        <div class="agile-overlay">
                                            <h4>
                                                奔跑的小猪
                                                <img th:src="@{/images/vip.png}" src="../../static/images/vip.png"
                                                     class="snap-flag"/>
                                                <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                                                     class="snap-flag"/>
                                            </h4>
                                            <ul>
                                                <li><span>21岁</span>山东青岛</li>
                                                <li><span>165cm</span>5000元</li>
                                                <li>内心独白：爱情就像一个人在海滩捡贝壳，不要捡最大的，也不要捡最漂亮的...</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <a href="">想查看更多符合你条件的用户？尝试一下搜索吧！</a>
                    </div>
                </div>
            </div>
            <!--成功故事-->
            <div class="grid_1">
                <a href=""><h1>成功故事</h1></a>
                <div class="heart-divider">
                    <span class="grey-line"></span>
                    <i class="fa fa-heart pink-heart"></i>
                    <i class="fa fa-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
                <div class="suceess_story">
                    <ul>
                        <li>
                            <div class="suceess_story-date">
                                <span class="entry-1">Dec 20, 2015</span>
                            </div>
                            <div class="suceess_story-content-container">
                                <figure class="suceess_story-content-featured-image">
                                    <img th:src="@{/images/7.jpg}" width="75" height="75"
                                         src="../../static/images/7.jpg" class="img-responsive"/>
                                </figure>
                                <div class="suceess_story-content-info">
                                    <h4><a href="#">奔跑的小猪&nbsp;&amp;&nbsp;晴儿</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form,.<a href="#">More...</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="suceess_story-date">
                                <span class="entry-1">Dec 20, 2015</span>
                            </div>
                            <div class="suceess_story-content-container">
                                <figure class="suceess_story-content-featured-image">
                                    <img th:src="@{/images/8.jpg}" width="75" height="75"
                                         src="../../static/images/8.jpg" class="img-responsive"/>
                                </figure>
                                <div class="suceess_story-content-info">
                                    <h4><a href="#">奔跑的小猪&nbsp;&amp;&nbsp;晴儿</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form,.<a href="#">More...</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="suceess_story-date">
                                <span class="entry-1">Dec 20, 2015</span>
                            </div>
                            <div class="suceess_story-content-container">
                                <figure class="suceess_story-content-featured-image">
                                    <img th:src="@{/images/9.jpg}" width="75" height="75"
                                         src="../../static/images/9.jpg" class="img-responsive"
                                         alt=""/>
                                </figure>
                                <div class="suceess_story-content-info">
                                    <h4><a href="#">奔跑的小猪&nbsp;&amp;&nbsp;晴儿</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form,.<a href="#">More...</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="suceess_story-date">
                                <span class="entry-1">Dec 20, 2015</span>
                            </div>
                            <div class="suceess_story-content-container">
                                <figure class="suceess_story-content-featured-image">
                                    <img th:src="@{/images/10.jpg}" width="75" height="75"
                                         src="../../static/images/10.jpg" class="img-responsive"
                                         alt=""/>
                                </figure>
                                <div class="suceess_story-content-info">
                                    <h4><a href="#">奔跑的小猪&nbsp;&amp;&nbsp;晴儿</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form,.<a href="#">More...</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="suceess_story-date">
                                <span class="entry-1">Dec 20, 2015</span>
                            </div>
                            <div class="suceess_story-content-container">
                                <figure class="suceess_story-content-featured-image">
                                    <img th:src="@{/images/11.jpg}" width="75" height="75"
                                         src="../../static/images/11.jpg" class="img-responsive"
                                         alt=""/>
                                </figure>
                                <div class="suceess_story-content-info">
                                    <h4><a href="#">奔跑的小猪&nbsp;&amp;&nbsp;晴儿</a></h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form,.<a href="#">More...</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //featured profiles -->
    <div class="col-md-4" style="padding: 0">
        <!--个人资料-->
        <div class="index-right" style="padding-top: 0">
            <div class="snap">
                <div class="snap-1">
                    <div>
                        <a href="#"><img th:src="@{/images/p1.jpg}" src="../../static/images/p1.jpg"
                                         class="snap-photo"/></a>
                    </div>
                    <div>
                        <a href="#">
                            <h3>奔跑的小猪</h3>
                        </a>
                        <img th:src="@{/images/vip.png}" src="../../static/images/vip.png" data-toolbar="vip-toolbar"
                             data-toolbar-animation="grow"
                             class="snap-flag" data-toolbar-style="warning"/>
                        <img th:src="@{/images/star-0.png}" src="../../static/images/star-0.png"
                             data-toolbar="star-toolbar"
                             data-toolbar-animation="grow" class="snap-flag" data-toolbar-style="warning"/>
                        <div id="vip-deadline" class="hidden">
                            <a href="javascript:void(0)" style="width: auto;height: auto;color: white">剩余时间：29天11小时</a>
                        </div>
                        <div id="star-deadline" class="hidden">
                            <a href="javascript:void(0)" style="width: auto;height: auto;color: white">剩余时间：29天11小时</a>
                        </div>
                        <p>ID:10000001</p>
                        <p>20岁&nbsp;&nbsp;&nbsp;山东&nbsp;青岛&nbsp;&nbsp;&nbsp;处女座</p>
                        <a href="" class="button button-highlight button-rounded button-small">完善资料</a>
                    </div>
                </div>
                <div class="snap-2">
                    <div class="button-group">
                        <a class="button button-rounded">上传照片</a>
                        <a class="button button-rounded">查看私信</a>
                        <a class="button button-rounded">牵手币充值</a>
                    </div>
                </div>
            </div>
        </div>
        <!--光荣脱单榜-->
        <div class="index-right">
            <h1>光荣脱单榜</h1>
            <div class="heart-divider">
                <span class="grey-line"></span>
                <i class="fa fa-heart pink-heart"></i>
                <i class="fa fa-heart grey-heart"></i>
                <span class="grey-line"></span>
            </div>
            <div class="container right-1">
                <div id="ri-grid" class="ri-grid animate-box">
                    <img th:src="@{/images/loading.gif}" class="ri-loading-image"
                         src="../../static/images/loading.gif"/>
                    <ul>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic1.jpg}" src="../../static/images/pic1.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic2.jpg}" src="../../static/images/pic2.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic3.jpg}" src="../../static/images/pic3.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic4.jpg}" src="../../static/images/pic4.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic5.jpg}" src="../../static/images/pic5.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic6.jpg}" src="../../static/images/pic6.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic7.jpg}" src="../../static/images/pic7.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic8.jpg}" src="../../static/images/pic8.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic9.jpg}" src="../../static/images/pic9.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic10.jpg}" src="../../static/images/pic10.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic11.jpg}" src="../../static/images/pic11.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img th:src="@{/images/pic12.jpg}" src="../../static/images/pic12.jpg"/>
                                <div class="desc">
                                    <h3>奔跑的小猪</h3>
                                    <p>历时1个月</p>
                                    <p>找到真爱</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="clearfix"></div>


        </div>
        <!--谁看过我-->
        <div class="index-right">
            <a href=""><h1>谁看过我</h1></a>
            <div class="heart-divider">
                <div>
                    <span class="grey-line"></span>
                    <i class="fa fa-heart pink-heart"></i>
                    <i class="fa fa-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
            </div>
            <div class="record-1">
                <ul>
                    <li>
                        <a href="#">
                            <img th:src="@{/images/pic1.jpg}" src="../../static/images/pic1.jpg"/>
                            <span>奔跑的小猪</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img th:src="@{/images/pic2.jpg}" src="../../static/images/pic2.jpg"/>
                            <span>奔跑的小猪</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img th:src="@{/images/pic3.jpg}" src="../../static/images/pic3.jpg"/>
                            <span>奔跑的小猪</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img th:src="@{/images/pic4.jpg}" src="../../static/images/pic4.jpg"/>
                            <span>奔跑的小猪</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img th:src="@{/images/pic5.jpg}" src="../../static/images/pic5.jpg"/>
                            <span>奔跑的小猪</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--寻爱服务-->
        <div class="index-right">
            <a href=""><h1>寻爱服务</h1></a>
            <div class="heart-divider">
                <div>
                    <span class="grey-line"></span>
                    <i class="fa fa-heart pink-heart"></i>
                    <i class="fa fa-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
            </div>
            <div class="service-1">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-3">
                            <a href=""><img th:src="@{/images/vip-s.gif}" src="../../static/images/vip-s.gif"/></a>
                        </div>
                        <div class="col-md-9">
                            <a href=""><h3>寻爱VIP</h3></a>
                            <p>免费看信、发信，15项特权助您快速找到心上人！</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href=""><img th:src="@{/images/star-s.gif}" src="../../static/images/star-s.gif"/></a>
                        </div>
                        <div class="col-md-9">
                            <a href=""><h3>星级用户</h3></a>
                            <p>搜索优先展示，助你寻爱！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg">
    <div class="container">
        <h3>Guest Messages</h3>
        <div class="heart-divider">
            <span class="grey-line"></span>
            <i class="fa fa-heart pink-heart"></i>
            <i class="fa fa-heart grey-heart"></i>
            <span class="grey-line"></span>
        </div>
        <div class="col-sm-6">
            <div class="bg_left">
                <h4>But I must explain</h4>
                <h5>Friend of Bride</h5>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.</p>
                <ul class="team-socials">
                    <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                    <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                    <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bg_left">
                <h4>But I must explain</h4>
                <h5>Friend of Groom</h5>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.</p>
                <ul class="team-socials">
                    <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                    <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                    <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-4 col_2">
            <h4>About Us</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
        </div>
        <div class="col-md-2 col_2">
            <h4>Help &amp; Support</h4>
            <ul class="footer_links">
                <li><a href="#">24x7 Live help</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="faq.html">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Quick Links</h4>
            <ul class="footer_links">
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms and Conditions</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Social</h4>
            <ul class="footer_social">
                <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>	