<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FindLover-Login</title>
    <th:block th:include="/front/common/common_resource :: resources"/>
</head>
<body>
<th:block th:include="/front/common/header::nav"/>
<div class="banner-login">
    <div class="grid_3">
        <div class="container">
            <div class="breadcrumb1">
                <ul>
                    <a href="index.html"><i class="fa fa-sign-in home_1"></i></a>
                    <span class="divider">&nbsp;|&nbsp;</span>
                    <li class="current-page">登录</li>
                </ul>
            </div>
            <div class="col-md-8 login_left">
                <form class="form-horizontal" th:action="@{/login}" method="post">
                    <span th:text="${#httpServletRequest.getParameter('message')}"></span>
                    <div class="form-group">
                        <label for="email" class="col-md-1 control-label">邮箱</label>
                        <div class="col-md-6">
                            <input type="email" class="form-text" id="email" name="email" placeholder="登录邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-1 control-label">密码</label>
                        <div class="col-md-6">
                            <input type="text" class="form-text" id="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    <!--<div>-->
                    <!--<label for="code" class="col-md-1 control-label">验证码</label>-->
                    <!--<div class="col-md-6">-->
                    <!--<img src="" alt="">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-offset-1">
                        <input type="submit" value="登录" class="btn_1 submit">
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<th:block th:include="/front/common/footer::foot"/>
</body>
</html>	