<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>他他说</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="../../static/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/jquery/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!----font-Awesome----->
    <link href="../../static/css/font-awesome.css" rel="stylesheet">
    <!----font-Awesome----->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown(100);
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp(100);
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
</head>
<body style="background-color: #f2f2f2">
<!-- ============================  Navigation Start =========================== -->
<div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="index.html"><img src="../../static/images/logo.png" alt="logo"></a>
            <div class="pull-right">
                <nav class="navbar nav_bottom" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">Menu
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a href="index.html">首页</a></li>
                            <li><a href="search.html">搜索</a></li>
                            <li><a href="about.html">会员</a></li>
                            <li><a href="s.html">成功故事</a></li>
                            <li><a href="about.html">他她说</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-envelope-o"></i><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="search.html">私信</a></li>
                                    <li><a href="profile.html">关注</a></li>
                                    <li><a href="search-id.html">访问记录</a></li>
                                    <li><a href="faq.html">系统通知</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user"></i><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="login.html">编辑资料</a></li>
                                    <li><a href="register.html">身份认证</a></li>
                                    <li><a href="index.html">修改密码</a></li>
                                    <li><a href="index.html">退出</a></li>
                                </ul>
                            </li>
                            <!--<li class="dropdown">-->
                            <!--<div class="navigation">-->
                            <!--<nav class="colorNav" id="user_info">-->
                            <!--<ul>-->
                            <!--<li class="green">-->
                            <!--<a href="#" class="icon-home"></a>-->
                            <!--<ul>-->
                            <!--<li><a href="login.html">编辑资料</a></li>-->
                            <!--<li><a href="register.html">身份认证</a></li>-->
                            <!--<li><a href="index.html">修改密码</a></li>-->
                            <!--<li><a href="index.html">退出</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</nav>-->
                            <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div> <!-- end pull-right -->
            <div class="clearfix"></div>
        </div> <!-- end container -->
    </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->
<!--============================  Navigation End ============================-->

<div class="grid_2">
    <div class="container">
        <!--轮播图片-->
        <div id="myCarousel" class="carousel slide">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../static/images/o3.jpg" width="100%" alt="...">
                    </div>
                    <div class="item">
                        <img src="../../static/images/o1.jpg" width="100%"  alt="...">
                    </div>
                    <div class="item">
                        <img src="../../static/images/o2.jpg" width="100%"  alt="...">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic"  data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一篇</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一篇</span>
                </a>
            </div>
        </div>

        <!--左边帖子部分-->
        <div class="col-md-9 members_box2">
            <div class="col_4">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <!--菜单-->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#">情感专栏</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                新鲜事儿 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">按热度排序</a></li>
                                <li><a href="#">按时间排序</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="#">关注的ta们</a></li>
                    </ul>

                    <!--帖子栏-->
                    <div id="myTabContent" class="tab-content" style="background-color: white">

                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <ul class="pagination pagination_1"></ul>
                            <div class="clearfix"> </div>

                            <div onclick="window.open('otherSaysDetail.html')" style="cursor:pointer;" class="jobs-item with-thumb">
                                <div class="thumb_top">
                                    <div class="thumb">
                                        <img src="../../static/images/p13.jpg" class="img-responsive" alt=""/></a>
                                    </div>
                                    <div class="jobs_right">
                                        <h6 class="title">老实人就适合当男朋友？</a></h6>
                                        <ul class="login_details1" >
                                            <li><span class="m_1">2017-10-11</span> | <span class="m_1">阅读数(10037)</span> | <span class="m_1">评论数(37)</span></li>
                                        </ul>
                                        <p class="description">有人说，左先生适合恋爱，右先生适合结婚<br></p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div><hr/>
                            <div onclick="window.open('otherSaysDetail.html')" style="cursor:pointer;" class="jobs-item with-thumb">
                                <div class="thumb_top">
                                    <div class="thumb">
                                        <img src="../../static/images/p13.jpg" class="img-responsive" alt=""/></a>
                                    </div>
                                    <div class="jobs_right">
                                        <h6 class="title">老实人就适合当男朋友？</a></h6>
                                        <ul class="login_details1" >
                                            <li><span class="m_1">2017-10-11</span> | <span class="m_1">阅读数(10037)</span> | <span class="m_1">评论数(37)</span></li>
                                        </ul>
                                        <p class="description">有人说，左先生适合恋爱，右先生适合结婚<br></p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div><hr/>
                            <div onclick="window.open('otherSaysDetail.html')" style="cursor:pointer;" class="jobs-item with-thumb">
                                <div class="thumb_top">
                                    <div class="thumb">
                                        <img src="../../static/images/p13.jpg" class="img-responsive" alt=""/></a>
                                    </div>
                                    <div class="jobs_right">
                                        <h6 class="title">老实人就适合当男朋友？</a></h6>
                                        <ul class="login_details1" >
                                            <li><span class="m_1">2017-10-11</span> | <span class="m_1">阅读数(10037)</span> | <span class="m_1">评论数(37)</span></li>
                                        </ul>
                                        <p class="description">有人说，左先生适合恋爱，右先生适合结婚<br></p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div><hr/>
                            <div onclick="window.open('otherSaysDetail.html')" style="cursor:pointer;" class="jobs-item with-thumb">
                                <div class="thumb_top">
                                    <div class="thumb">
                                        <img src="../../static/images/p13.jpg" class="img-responsive" alt=""/></a>
                                    </div>
                                    <div class="jobs_right">
                                        <h6 class="title">老实人就适合当男朋友？</a></h6>
                                        <ul class="login_details1" >
                                            <li><span class="m_1">2017-10-11</span> | <span class="m_1">阅读数(10037)</span> | <span class="m_1">评论数(37)</span></li>
                                        </ul>
                                        <p class="description">有人说，左先生适合恋爱，右先生适合结婚<br></p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div><hr/>
                            <div onclick="window.open('otherSaysDetail.html')" style="cursor:pointer;" class="jobs-item with-thumb">
                                <div class="thumb_top">
                                    <div class="thumb">
                                        <img src="../../static/images/p13.jpg" class="img-responsive" alt=""/></a>
                                    </div>
                                    <div class="jobs_right">
                                        <h6 class="title">老实人就适合当男朋友？</a></h6>
                                        <ul class="login_details1" >
                                            <li><span class="m_1">2017-10-11</span> | <span class="m_1">阅读数(10037)</span> | <span class="m_1">评论数(37)</span></li>
                                        </ul>
                                        <p class="description">有人说，左先生适合恋爱，右先生适合结婚<br></p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div><hr/>
                        </div>
                        <!--分页-->
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class=".col-md-6">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-lg">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">上一页</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">下一页</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--右边广告部分-->
        <div class="col-md-3 col_5">
            <ul class="pagination pagination_1"></ul>
            <div class="clearfix"> </div>

            <ul class="match_box" style="background-color: white; padding: 10px">
                <li><h4>推荐好文</h4></li><hr/>
                <li><a href="#">1.老实人就适合当男朋友？</a></li>
                <li><a href="#">2.【焦点话题】无性婚姻你能接受吗？</a></li>
                <li><a href="#">3.男人为什么更偏爱狐狸精样的女人？</a></li>
                <li><a href="#">4.【情感心语】如何知道一个姑娘...</a></li>
            </ul>
            <img src="../../static/images/v1.jpg" class="img-responsive" alt=""/>
            <ul class="menu">
                <li class="item1"><h3 class="m_2">Show Profiles Created</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">within a week (2) </a></li>
                        <li class="subitem2"><a href="#">within a month (4)</a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Profile type</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">with Photo (3) </a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Marital Status</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Unmarried (2) </a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Mother Tongue</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">English </a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Education</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Bachelors-Engineering </a></li>
                        <li class="subitem1"><a href="#">Masters-Engineering </a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Eating Habits</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Non Vegetarian (3)</a></li>
                        <li class="subitem1"><a href="#">Vegetarian (2)</a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Smoking</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Not Specified (3)</a></li>
                    </ul>
                </li>
                <li class="item1"><h3 class="m_2">Drinking</h3>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Not Specified (3)</a></li>
                        <li class="subitem1"><a href="#">Never Drinks (3)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-4 col_2">
            <h4>About Us</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
        </div>
        <div class="col-md-2 col_2">
            <h4>Help & Support</h4>
            <ul class="footer_links">
                <li><a href="#">24x7 Live help</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="faq.html">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Quick Links</h4>
            <ul class="footer_links">
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms and Conditions</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Social</h4>
            <ul class="footer_social">
                <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>