<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script th:inline="javascript">
        var contextPath = /*[[@{/}]]*/'';
    </script>
    <link href="../../static/css/bootstrap-3.1.1.min.css" th:href="@{/css/bootstrap-3.1.1.min.css}" rel='stylesheet'
          type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/front/findlover.js" th:src="@{/js/front/findlover.js}"></script>
    <script src="../../static/js/front/search.js" th:src="@{/js/front/search.js}"></script>
    <script src="../../static/js/buttons.js" th:src="@{/js/buttons.js}"></script>
    <!-- Custom Theme files -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <!--font-Awesome-->
    <link href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link href="../../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <!--font-Awesome-->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown(100);
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp(100);
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
<div class="navbar navbar-inverse-blue navbar">    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
    <div class="navbar-inner">
        <div class="container"><a class="brand" href="index.html"><img src="../../static/images/logo.png"
                                                                       th:src="@{/images/logo.png}"/></a>
            <div class="pull-right">
                <nav class="navbar nav_bottom" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">Menu <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a></div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about.html">搜索</a></li>
                            <li><a href="about.html">会员</a></li>
                            <li><a href="about.html">成功故事</a></li>
                            <li><a href="about.html">他她说</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-lg fa-envelope-o"></i><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="search.html">私信</a></li>
                                    <li><a href="profile.html">关注</a></li>
                                    <li><a href="search-id.html">访问记录</a></li>
                                    <li><a href="faq.html">系统通知</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-lg fa-user"></i><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="login.html">编辑资料</a></li>
                                    <li><a href="register.html">身份认证</a></li>
                                    <li><a href="index.html">修改密码</a></li>
                                    <li><a href="index.html">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div> <!-- end pull-right -->
            <div class="clearfix"></div>
        </div> <!-- end container -->
    </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->
<!--============================  Navigation End ============================-->
<div class="grid_3" style="padding: 30px 0">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <a href="index.html"><i class="fa fa-search home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">搜索对方：</li>
            </ul>
        </div>
        <div class="col-md-9 search_left">
            <div class="search-info">
                <div class="search-condition">
                    <div class="col-md-2">
                        <span class="search-title">选择条件：</span>
                    </div>
                    <form>
                        <div id="common-cond">
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-1" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">男</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择性别：</p>
                                    <select id="search-select-1">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-2" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">年龄不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu" style="width: 240px">
                                    <p>请选择年龄：</p>
                                    <select id="age-select-low">
                                        <option value="-1">不限</option>
                                    </select>
                                    <span>-</span>
                                    <select id="age-select-high">
                                        <option value="-1">不限</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-3" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span id="workplace-span" class="dropdown-value">地区不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu" style="width: 230px">
                                    <p>请选择地区：</p>
                                    <select id="province-select" th:remove="all-but-first">
                                        <option value="-1">不限</option>
                                        <option value="山东">山东</option>
                                        <option value="北京">北京</option>
                                        <option value="河南">河南</option>
                                        <option value="河北">河北</option>
                                        <option value="湖南">湖南</option>
                                        <option value="四川">四川</option>
                                    </select>

                                    <select id="city-select" th:remove="all-but-first">
                                        <option value="-1">不限</option>
                                        <option value="聊城">聊城</option>
                                        <option value="烟台">烟台</option>
                                        <option value="青岛">青岛</option>
                                        <option value="淄博">淄博</option>
                                        <option value="济南">济南</option>
                                        <option value="济宁">济宁</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-4" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">身高不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu" style="width: 240px">
                                    <p>请选择身高：</p>
                                    <select id="height-select-low">
                                        <option value="-1">不限</option>
                                    </select>
                                    <span>-</span>
                                    <select id="height-select-high">
                                        <option value="-1">不限</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-5" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">职业不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择职业：</p>
                                    <select id="search-select-5">
                                        <option value="-1" content="职业不限">不限</option>
                                        <option value="销售">销售</option>
                                        <option value="客户服务">客户服务</option>
                                        <option value="计算机/互联网">计算机/互联网</option>
                                        <option value="广告/市场">广告/市场</option>
                                        <option value="教育/科研">教育/科研</option>
                                        <option value="医疗/护理">医疗/护理</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-6" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">婚史不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择婚姻状况：</p>
                                    <select id="search-select-6">
                                        <option value="-1" content="婚史不限">不限</option>
                                        <option value="未婚">未婚</option>
                                        <option value="丧偶">丧偶</option>
                                        <option value="离异">离异</option>
                                        <option value="已婚">已婚</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-7" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">月收入不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu" style="width: 240px">
                                    <p>请选择月收入：</p>
                                    <select id="salary-select-low">
                                        <option value="-1">不限</option>
                                    </select>
                                    <span>-</span>
                                    <select id="salary-select-high">
                                        <option value="-1">不限</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<br>-->
                        <div id="vip-cond" class="col-md-offset-2">
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-8" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">学历不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择学历：</p>
                                    <select id="search-select-7">
                                        <option value="-1" content="学历不限">不限</option>
                                        <option value="大专">大专</option>
                                        <option value="本科">本科</option>
                                        <option value="硕士">硕士</option>
                                        <option value="博士">博士</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-9" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">住房条件不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择住房条件：</p>
                                    <select id="search-select-9">
                                        <option value="-1" content="住房条件不限">不限</option>
                                        <option value="和家人同住">和家人同住</option>
                                        <option value="已购房">已购房</option>
                                        <option value="租房">租房</option>
                                        <option value="打算婚后购房">打算婚后购房</option>
                                        <option value="单位宿舍">单位宿舍</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-10" class="btn btn-sm btn-default dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span id="birthplace-span" class="dropdown-value">籍贯不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu" style="width: 230px">
                                    <p>请选择籍贯：</p>
                                    <select id="province-select-bp" th:remove="all-but-first">
                                        <option value="-1">不限</option>
                                        <option value="山东">山东</option>
                                        <option value="北京">北京</option>
                                        <option value="河南">河南</option>
                                        <option value="河北">河北</option>
                                        <option value="湖南">湖南</option>
                                        <option value="四川">四川</option>
                                    </select>

                                    <select id="city-select-bp" th:remove="all-but-first">
                                        <option value="-1">不限</option>
                                        <option value="聊城">聊城</option>
                                        <option value="烟台">烟台</option>
                                        <option value="青岛">青岛</option>
                                        <option value="淄博">淄博</option>
                                        <option value="济南">济南</option>
                                        <option value="济宁">济宁</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-11" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">星座不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择星座：</p>
                                    <select id="search-select-11">
                                        <option value="-1" content="星座不限">不限</option>
                                        <option value="天秤座">天秤座</option>
                                        <option value="处女座">处女座</option>
                                        <option value="狮子座">狮子座</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-12" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">生肖不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择生肖：</p>
                                    <select id="search-select-12">
                                        <option value="-1" content="生肖不限">不限</option>
                                        <option value="鼠">鼠</option>
                                        <option value="牛">牛</option>
                                        <option value="虎">虎</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-13" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">民族不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择民族：</p>
                                    <select id="search-select-13">
                                        <option value="-1" content="民族不限">不限</option>
                                        <option value="汉族">汉族</option>
                                        <option value="回族">回族</option>
                                        <option value="壮族">壮族</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dropdown search-dropdown">
                                <button id="dropdown-btn-14" class="btn btn-sm btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="dropdown-value">信仰不限</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu search-dropdown-menu">
                                    <p>请选择信仰：</p>
                                    <select id="search-select-14">
                                        <option value="-1" content="信仰不限">不限</option>
                                        <option value="佛教">佛教</option>
                                        <option value="伊斯兰教">伊斯兰教</option>
                                        <option value="基督教">基督教</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="col-md-2">
                    <span class="search-title">热门标签：</span>
                </div>
                <a href="javascript:void(0)" class="button button-small button-glow button-rounded button-highlight">高学历</a>
                <a href="javascript:void(0)" class="button button-small button-glow button-rounded button-caution">高收入</a>
                <a href="javascript:void(0)" class="button button-small button-glow button-rounded button-royal">有车一族</a>
                <a href="javascript:void(0)" class="button button-small button-glow button-rounded button-primary">有房一族</a>
                <a href="javascript:void(0)" class="button button-small button-glow button-rounded button-inverse">程序员</a>
            </div>

            <div class="paid_people">
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a7.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-1.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a8.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-0.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a7.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-0.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a4.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-0.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a5.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-0.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-sm-4 paid_people-left">
                        <ul class="profile_item">
                                <li class="profile_item-img">
                                    <a href="view_profile.html">
                                        <img src="../../static/images/a6.jpg" th:src="@{/images/a5.jpg}"
                                         class="img-responsive zoom-img" alt=""/>
                                    </a>
                                </li>
                            <li>
                                <div style="height: 22px;line-height: 22px">
                                <a href="">奔跑的小猪</a>
                                <img src="../../static/images/vip.png" class="flag">
                                <img src="../../static/images/star-0.png" class="flag"></div>
                                <p>
                                    <span>18岁</span>&nbsp;
                                    <span>175cm</span>&nbsp;
                                    <span>山东青岛</span>&nbsp;
                                    <span>未婚</span>
                                </p>
                                <p>内心独白：我就是我，颜色不一样的烟火。</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 match_right">
            <div class="profile_search1">
                <form>
                    <input type="text" class="m_1" name="ne" size="30" required="" placeholder="ID搜索"/>
                    <input type="submit" value="搜索"/>
                </form>
            </div>
            <section class="slider">
                <h3>成功故事</h3>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="../../static/images/s2.jpg" th:src="@{/images/s2.jpg}" alt=""/>
                            <h4>Lorem &amp; Ipsum</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable</p>
                        </li>
                        <li>
                            <img src="../../static/images/s1.jpg" th:src="@{/images/s1.jpg}" alt=""/>
                            <h4>Lorem &amp; Ipsum</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable</p>
                        </li>
                        <li>
                            <img src="../../static/images/s3.jpg" th:src="@{/images/s3.jpg}" alt=""/>
                            <h4>Lorem &amp; Ipsum</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable</p>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="view_profile view_profile2">
                <h3>相似结果</h3>
                <ul class="profile_item">
                    <a href="view_profile.html">
                        <li class="profile_item-img">
                            <img src="../../static/images/p5.jpg" th:src="@{/images/p5.jpg}" class="img-responsive"
                                 alt=""/>
                        </li>
                        <li class="profile_item-desc">
                            <h4>2458741</h4>
                            <p>29 Yrs, 5Ft 5in Christian</p>
                            <h5>View Full Profile</h5>
                        </li>
                        <div class="clearfix"></div>
                    </a>
                </ul>
                <ul class="profile_item">
                    <a href="view_profile.html">
                        <li class="profile_item-img">
                            <img src="../../static/images/p6.jpg" th:src="@{/images/p6.jpg}" class="img-responsive"
                                 alt=""/>
                        </li>
                        <li class="profile_item-desc">
                            <h4>2458741</h4>
                            <p>29 Yrs, 5Ft 5in Christian</p>
                            <h5>View Full Profile</h5>
                        </li>
                        <div class="clearfix"></div>
                    </a>
                </ul>
                <ul class="profile_item">
                    <a href="view_profile.html">
                        <li class="profile_item-img">
                            <img src="../../static/images/p7.jpg" th:src="@{/images/p7.jpg}" class="img-responsive"
                                 alt=""/>
                        </li>
                        <li class="profile_item-desc">
                            <h4>2458741</h4>
                            <p>29 Yrs, 5Ft 5in Christian</p>
                            <h5>View Full Profile</h5>
                        </li>
                        <div class="clearfix"></div>
                    </a>
                </ul>
                <ul class="profile_item">
                    <a href="view_profile.html">
                        <li class="profile_item-img">
                            <img src="../../static/images/p8.jpg" th:src="@{/images/p8.jpg}" class="img-responsive"
                                 alt=""/>
                        </li>
                        <li class="profile_item-desc">
                            <h4>2458741</h4>
                            <p>29 Yrs, 5Ft 5in Christian</p>
                            <h5>View Full Profile</h5>
                        </li>
                        <div class="clearfix"></div>
                    </a>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-4 col_2">
            <h4>About Us</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
        </div>
        <div class="col-md-2 col_2">
            <h4>Help &amp; Support</h4>
            <ul class="footer_links">
                <li><a href="#">24x7 Live help</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="faq.html">FAQs</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Quick Links</h4>
            <ul class="footer_links">
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms and Conditions</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </div>
        <div class="col-md-2 col_2">
            <h4>Social</h4>
            <ul class="footer_social">
                <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
                <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights reserved.</p>
        </div>
    </div>
</div>
<!-- FlexSlider -->
<link href="../../static/css/flexslider.css" th:href="@{/css/flexslider.css}" rel='stylesheet' type='text/css'/>
<script src="../../static/jquery/jquery.flexslider.js" th:src="@{/jquery/jquery.flexslider.js}"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- FlexSlider -->
</body>
</html>	