<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FindLover</title>
    <!--公共css与js文件-->
    <th:block th:include="front/common/common_resource::resources"/>
</head>
<body>
<!-- 导航栏 -->
<th:block th:include="front/common/header::nav"/>
<!--导航栏（th:remove)-->

<div class="container grid_0">
    <div style="padding: 50px">
        <div style="margin: 100px" class="text-center">
            <h1>上传成功，回显效果如下</h1>
            <hr>
        </div>
        <div style="background-color: white; padding: 100px;">
            <th:block th:utext="${msg}"></th:block>
        </div>
    </div>
</div>
<!--页面尾部-->
<th:block th:include="front/common/footer::foot"/>
</body>
</html>	