<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.findlover.mapper.ComplainMapper" >
  <resultMap id="BaseResultMap" type="com.hpe.findlover.model.Complain" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="com_obj" property="comObj" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="com_time" property="comTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, com_obj, reason, content, com_time, status, admin_id
  </sql>

  <select id="selectAllByIdentity" resultType="complain">
    SELECT <include refid="Base_Column_List"></include>
    FROM complain
    WHERE complain.${column} LIKE #{keyword}
    <if test="identity == 'unchecked'">
      AND status=0
    </if>
    <if test="identity == 'checked'">
      AND status in (1,2,3)
    </if>
  </select>
</mapper>