<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.findlover.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.hpe.findlover.model.Message">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <association property="userBasic" column="user_id" javaType="UserBasic" select="selectUserById"/>
        <collection property="likes" column="id" javaType="ArrayList" ofType="MessageLike" select="selectLikeListByMessage" fetchType="lazy"/>
        <collection property="replies" column="id" javaType="ArrayList" ofType="MessageReply" select="selectReplyListByMessage"/>
    </resultMap>
    <resultMap id="BackResultMap" type="com.hpe.findlover.model.Message">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_id" property="userBasic.id"/>
        <result column="nickname" property="userBasic.nickname"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, content, pub_time, like_count, reply_count
    </sql>
    <select id="selectLikeListByMessage" resultType="MessageLike">
        SELECT id,user_id,like_time
        FROM message_like
        WHERE message_id = #{id}
    </select>
    <select id="selectReplyListByMessage" resultType="MessageReply">
        SELECT *
        FROM message_reply
        WHERE message_id = #{id}
    </select>
    <select id="selectUserById" resultType="UserBasic">
        SELECT *
        FROM findlover.user_basic
        WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM message
    </select>
    
    <select id="selectMessageByColumn" resultMap="BackResultMap">
        SELECT message.*,user_basic.nickname
        FROM message
        LEFT OUTER JOIN findlover.user_basic
        ON message.user_id = user_basic.id
        <where>
            <if test="column == 'id'">
                user_basic.id LIKE #{keyword}
            </if>
            <if test="column == 'nickname'">
              AND  user_basic.nickname LIKE #{keyword}
            </if>
            <if test="column == 'content'">
              AND message.content LIKE #{keyword}
            </if>
        </where>
    </select>
    
    <select id="selectMessageByIds" resultMap="BaseResultMap">
       SELECT  * from message
        WHERE user_id IN
        (SELECT follow_id FROM follow WHERE user_id=#{userId});

    </select>
</mapper>