<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.findlover.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.hpe.findlover.model.Message">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <collection property="likes" column="id" javaType="ArrayList" ofType="MessageLike" select="selectLikeListByMessage" fetchType="lazy"/>
        <collection property="replies" column="id" javaType="ArrayList" ofType="MessageReply" select="selectReplyListByMessage"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, content, pub_time, like_count, reply_count
    </sql>
    <select id="selectLikeListByMessage" resultType="MessageLike">
        SELECT id,user_id,like_time
        FROM message_like
        WHERE message_id = #{id}
    </select>
    <select id="selectReplyListByMessage" resultType="MessageReply">
        SELECT *
        FROM message_reply
        WHERE message_id = #{id}
    </select>
    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM message
    </select>
</mapper>