<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.findlover.mapper.SuccessStoryLikeMapper" >
  <resultMap id="BaseResultMap" type="com.hpe.findlover.model.SuccessStoryLike" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="success_story_id" property="successStoryId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="like_time" property="likeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, success_story_id, user_id, like_time
  </sql>
  <select id="selectByStoryIdAndUserId" resultType="SuccessStoryLike">
    SELECT * FROM success_story_like WHERE success_story_id=#{arg0} AND user_id=#{arg1}
  </select>
  <select id="selectCountByStoryId" resultType="int">
    SELECT COUNT(*) FROM success_story_like WHERE success_story_id=#{arg0}
  </select>
</mapper>