<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.findlover.mapper.UserDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hpe.findlover.model.UserDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="cardnumber" property="cardnumber" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="animal" property="animal" jdbcType="CHAR" />
    <result column="zodiac" property="zodiac" jdbcType="CHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="religion" property="religion" jdbcType="VARCHAR" />
    <result column="graduation" property="graduation" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, realname, cardnumber, birthplace, weight, animal, zodiac, nation, religion, graduation, 
    hobby,signature
  </sql>
</mapper>