<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 公共页尾，引入方式：<th:block th:include="front/common/footer::foot"/> -->
<th:block th:fragment="foot">
    <div class="footer">
        <div class="container">
            <div class="col-md-5 col_2">
                <h4>关于我们</h4>
                <p>庞大自身婚恋团队，专注婚恋100年，助您早日找到真爱！</p>
            </div>
            <div class="col-md-3 col_2">
                <h4>Help &amp; Support</h4>
                <ul class="footer_links">
                    <li><a href="#">24x7在线服务</a></li>
                    <li><a href="../reserve/contact.html">联系我们</a></li>
                    <li><a href="#">反馈</a></li>
                    <li><a href="../reserve/faq.html">问答</a></li>
                </ul>
            </div>
            <div class="col-md-3 col_2">
                <h4>友情链接</h4>
                <ul class="footer_links">
                    <li><a href="../reserve/privacy.html">珍爱网</a></li>
                    <li><a href="../reserve/terms.html">百合网</a></li>
                    <li><a href="../reserve/services.html">世纪佳缘网</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="copy">
                <p>Copyright &copy; 2015.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
</th:block>
</html>